<div class ="col-md-12">
<h3 class ="mb-3-text-center">Add Shipper </h3>
<div class = "form-group-row">
  <label class = "control label col-md-12"> Shipper Name </label>
  <input type = "text" [(ngModel)] = "ShipperDetails.companyName" class = "form-control">
  </div>

    <div class = "form-group-row">
  <label class = "control label col-md-12"> Phone </label>
  <input type = "text" [(ngModel)] = "ShipperDetails.phone" class = "form-control">
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" (click)="addShipper()">Add Shipper</button>
  </div>


