<button class="btn btn-outline-primary" routerLink="/create-shipper">Add Shipper</button>

<button class="btn btn-outline-primary" routerLink="/shipper-list">List Shippers</button>


<!-- <nav>
  <a routerLink="/shipper-list">List Shippers</a>&nbsp;|&nbsp;
  <a routerLink="/create-shipper">Create a New Shipper</a> &nbsp;|&nbsp;
  <a routerLink="/shipper-edit">Edit a Shipper</a>
</nav> -->

<!-- Use this in the AppComponent template -->
<div class="container">
  <h2>Northwind Shippers</h2>
  <router-outlet></router-outlet>
</div>

